{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h3>{{ title }}</h3>
    </div>
    <div class="card-body">
        <p>Вы уверены, что хотите скрыть сотрудника "{{ object.full_name_nominative }}" из рабочих разделов и пометить его на удаление?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Пометить на удаление</button>
            <a href="{% url 'directory:employees:employee_list' %}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}
