{% extends "admin/change_list.html" %}
{% block extrastyle %}
{{ block.super }}
<style>
@media (max-width: 768px) {
    .column-categories_display, .field-categories_display,
    .column-exam_total_questions, .field-exam_total_questions,
    .column-exam_time_limit, .field-exam_time_limit,
    .column-exam_allowed_incorrect, .field-exam_allowed_incorrect,
    .column-assigned_users_count, .field-assigned_users_count,
    .column-attempts_count, .field-attempts_count,
    .column-created, .field-created { display: none !important; }
}
</style>
{% endblock %}
